<%= form_for(translation) do |form| %>
    <table>
        <tr class="row1">
            <th>
                <%= select_tag(:input_language, options_for_select([["Ruby", "ruby"], ["Javascript", 'javascript']])) %>
            </th>
            <th></th>
            <th>
                <%= select_tag(:output_language, options_for_select([["Javascript", 'javascript'], ["Ruby", "ruby"]])) %>
            </th>
        </tr>
        <tr class="row2">
            <td class="input col1">
                <%= form.text_area(:input_code, placeholder: "your code goes here") %>
            </td>
            <td class="button col2">
                <%= form.submit("Translate", class: "submit") %>
            </td>
            <td class="col3">
                <div class="js_output_1">
                    <%= translation.output_code %>
                </div>
            </td>
        </tr>
        <tr class="row3">
            <td class="ruby_output_1 col1">
                <%= "ruby output" %>
            </td>
            <td class="col2"></td>
            <td class="js_output_2 col3">
                <%= "js output 2" %>
            </td>
        </tr>
    </table>
    <% end %>