<%= form_for(translation) do |form| %>
    <div class="grid-container">
        <div class="source_language">
            <%= form.select( :source_language, [["Ruby", "ruby"], ["Javascript", 'js'], ["Python 3", "python3"]], {}, onChange: "window.handle_language_change();") %>
        </div>
        <div class="destination_language">
            <%= form.select(:destination_language, [["Javascript", "js"], ["Python 3", "python3"], ["Ruby", "ruby"]]) %>
        </div>
        <div class="source_code">
            <%= form.text_area(:source_code, placeholder: "your code goes here") %>
        </div>
        <div class="translate">
            <%= form.submit("Translate", class: "submit") %>
        </div>
        <div class="destination_code">
            <%= translation.formatted_destination_code %>
        </div>
        <div class="source_output">
            <%= translation.source_output %>
        </div>
        <div class="destination_output">
            <%= translation.destination_output %>
        </div>
    </div>
<% end %>
