<%= form_for(translation) do |form| %>
  <table>
    <tr>
      <th>
        <%= select_tag(:source_language, options_for_select([["Ruby", "ruby"], ["Javascript", 'javascript']])) %>
      </th>
      <th></th>
      <th>
        <%= select_tag(:destination_language, options_for_select([["Javascript", 'javascript'], ["Ruby", "ruby"]])) %>
      </th>
    </tr>
    <tr>
      <td class="input col1">
        <%= form.text_area :input_code %>
      </td>
      <td class="button col2">
        <%= form.submit("Translate", class: "submit") %>
      </td>
      <td class="js_output_1 col3">
        <textarea><%= translation.output_code %></textarea>
      </td>
    </tr>
    <tr>
      <td class="ruby_output_1 col1">
        ruby output
      </td>
      <td class="col2"></td>
      <td class="js_output_2 col3">
        js output 2
      </td>
    </tr>
  </table>
<% end %>
